# bool is int
CERBERUS_TOKEN=""
GURU_TOKEN=""
TELEGRAM_TOKEN=""
TELEGRAM_CHAT_ID=""
MM_SERVER=""
MM_TOKEN=""
MM_CHANNEL=""
SLEEP_TIME=25
DATABASE_URL=""
ENABLE_SPAM_SCORE=1
# 0 / 1 or auto (closing only on work hours)
ENABLE_AUTOCLOSE=0
AUTOCLOSE_MIN_SCORE=10
NOTIFY_MAX_SCORE=3
ENABLE_RSPAMD=1
RSPAMD_API_URL=""
CERB_SMTP_RELAY=""
HTTP_PROXY=""
HTTPS_PROXY=""
NO_PROXY="localhost,127.0.0.1"